 <h1><%= @user.username%>'s profile </h1>

 <h3>Books</h3>

   <table>
  <thead>
    <tr>
      <th>Name &nbsp; &nbsp;</th>
      <th>Author &nbsp; &nbsp;</th>
      <th>  &nbsp; &nbsp;Actions  </th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td> 
        <td>
        <%= link_to 'Show |', book %> 
        </td>
      </tr>
      
    <% end %>
  </tbody>
</table>
 <br/>
<p>
<%= link_to ' Home', root_path %>
</p>
  