
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
     
</head>
<body>
       <h1> <%= current_user.username%> Welcome To Library System</h1>
      <br/><br/>
      <% if user_signed_in? %>
      <h3>Books Rented By <%= current_user.username%> </h3>
      <% if current_user.books.count == 0%>
      <p> You Don't Have Any Books Right Now.....Please Rent Some Books</p>
      <%else%> 
      <%= render 'users/users_books'%>
      <%end%>
      <br/>
      <p>
      </p>
       <%= link_to "Rent New Books", new_user_book_path, class: "text-info" %><br/>
       <%= link_to "See Books By Categories", categories_path, class: "text-info" %><br/>
        <%= link_to 'See All Books', books_path, class: "text-info" %><br/>
          <% if current_user.admin? %>
           <%= link_to "See All Users", users_path, class: "text-info" %><br/>
         <%  end%>
       <% end %>
       <br/><br/>
 


       
        
       
          
         
     

      
 
</body>
</html>