<h1>Show Page</h1>

<h3>Books</h3>

 
 <br/>

  <p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Status:</strong>
<%=  @book.status==true && @book.quantity!=0 ? "Availabe" : "Not Available" %>
</p>
 
 

 
<%= link_to 'Edit', edit_book_path(@book) %> |
 
<%= link_to 'Back', books_path %>
<br/>
<p>
<%= link_to ' Home', root_path %>
</p>