<h1>Book Info Page</h1>
 <br/>
<h4>Here You Can More Info About Book..........</h4>   
  <p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Total No:</strong>
  <%= @book.total %>
</p>

<p>
  <strong>Remaning No:</strong>
  <%= @book.quantity %>
</p>

<p>
  <strong>Status:</strong>
<%=  @book.status==true && @book.quantity!=0 ? "Availabe" : "Not Available" %>
</p>

<% if current_user.admin?%>
<p>
  <strong> Book Rented By:</strong>
<% @book.users.each do |u| %>
   <%= u.username + " "%>
<%end%>

<%end%>
</p>


 
 

 
<%= link_to 'Edit', edit_book_path(@book) %> |
 
<%= link_to 'Back', books_path %>
<br/>
<p>
<%= link_to ' Home', root_path %>
</p>