<h2>Books by <%= @category.name%> </h2><br/>

 <table>
  <thead>
    <tr>
      <th>Name &nbsp; &nbsp;</th>
      <th>Author &nbsp; &nbsp;</th>
      <th>  Category </th>
      <th> Remaning Book</th>
      <th > &nbsp; Status</th>
      <th>  &nbsp; &nbsp;Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td> 
        <td>  <% if book.categories.any? %>
              <%= render book.categories %> 
             <% end %>
         </td>
         <td><%= book.quantity %></td>
        <td> &nbsp;&nbsp; <%=  book.status==true && book.quantity!=0 ? "Availabe" : "Not Available" %> &nbsp;</td>
        <td>
        
        <%= link_to 'Rent Book', user_books_path(user_id:current_user.id,book_id:book.id), :method => :post %>
        
        </td>
      </tr>
      
    <% end %>
  </tbody>
</table>
 <br/>

 <p>
<%= link_to ' Home', root_path %>
</p>